<?php

declare(strict_types=1);

/*
 * Deepgram
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DeepgramLib\Apis;

use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DeepgramLib\Http\ApiResponse;
use DeepgramLib\Models\AgentThinkModelsV1Response;

class AgentV1SettingsThinkModelsApi extends BaseApi
{
    /**
     * Retrieves the available think models that can be used for AI agent processing
     *
     * @return ApiResponse Response from the API call
     */
    public function mList(): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/agent/settings/think/models')
            ->auth('ApiKeyAuth');

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(AgentThinkModelsV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
