<?php

declare(strict_types=1);

/*
 * Deepgram
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DeepgramLib\Apis;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DeepgramLib\Http\ApiResponse;
use DeepgramLib\Models\GrantV1Request;
use DeepgramLib\Models\GrantV1Response;

class AuthV1TokensApi extends BaseApi
{
    /**
     * Generates a temporary JSON Web Token (JWT) with a 30-second (by default) TTL and usage::write
     * permission for core voice APIs, requiring an API key with Member or higher authorization. Tokens
     * created with this endpoint will not work with the Manage APIs.
     *
     * @param GrantV1Request|null $body Time to live settings
     *
     * @return ApiResponse Response from the API call
     */
    public function grant(?GrantV1Request $body = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/auth/grant')
            ->auth('ApiKeyAuth')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(GrantV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
