<?php

declare(strict_types=1);

/*
 * Deepgram
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DeepgramLib\Apis;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DeepgramLib\Http\ApiResponse;
use DeepgramLib\Models\CreateKeyV1Response;
use DeepgramLib\Models\DeleteProjectKeyV1Response;
use DeepgramLib\Models\GetProjectKeyV1Response;
use DeepgramLib\Models\ListProjectKeysV1Response;
use DeepgramLib\Models\V1ProjectsProjectIdKeysGetParametersStatus;

class ManageV1ProjectsKeysApi extends BaseApi
{
    /**
     * Retrieves all API keys associated with the specified project
     *
     * @param string $projectId The unique identifier of the project
     * @param string|null $status Only return keys with a specific status
     *
     * @return ApiResponse Response from the API call
     */
    public function mList(string $projectId, ?string $status = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/projects/{project_id}/keys')
            ->auth('ApiKeyAuth')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                QueryParam::init('status', $status)
                    ->serializeBy([V1ProjectsProjectIdKeysGetParametersStatus::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(ListProjectKeysV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates a new API key with specified settings for the project
     *
     * @param string $projectId The unique identifier of the project
     * @param array|null $body API key settings
     *
     * @return ApiResponse Response from the API call
     */
    public function create(string $projectId, ?array $body = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/projects/{project_id}/keys')
            ->auth('ApiKeyAuth')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->strictType('anyOf(oneOf(array),null)')
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(CreateKeyV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves information about a specified API key
     *
     * @param string $projectId The unique identifier of the project
     * @param string $keyId The unique identifier of the API key
     *
     * @return ApiResponse Response from the API call
     */
    public function get(string $projectId, string $keyId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/projects/{project_id}/keys/{key_id}')
            ->auth('ApiKeyAuth')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                TemplateParam::init('key_id', $keyId)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(GetProjectKeyV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Deletes an API key for a specific project
     *
     * @param string $projectId The unique identifier of the project
     * @param string $keyId The unique identifier of the API key
     *
     * @return ApiResponse Response from the API call
     */
    public function delete(string $projectId, string $keyId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/projects/{project_id}/keys/{key_id}')
            ->auth('ApiKeyAuth')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                TemplateParam::init('key_id', $keyId)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(DeleteProjectKeyV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
