<?php

declare(strict_types=1);

/*
 * RestApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace RestApiLib\Apis;

use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use RestApiLib\Http\ApiResponse;
use RestApiLib\Models\ListModelsV1Response;

class ManageV1ProjectsModelsApi extends BaseApi
{
    /**
     * Returns metadata on all the latest models that a specific project has access to, including non-
     * public models
     *
     * @param string $projectId The unique identifier of the project
     * @param string $authorization Use `Authorization: Token <API_KEY>` Example: `Authorization:
     *        Token 12345abcdef`
     * @param bool|null $includeOutdated returns non-latest versions of models
     *
     * @return ApiResponse Response from the API call
     */
    public function mList(string $projectId, string $authorization, ?bool $includeOutdated = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/projects/{project_id}/models')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                HeaderParam::init('Authorization', $authorization)->required(),
                QueryParam::init('include_outdated', $includeOutdated)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(ListModelsV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns metadata for a specific model
     *
     * @param string $projectId The unique identifier of the project
     * @param string $modelId The specific UUID of the model
     * @param string $authorization Use `Authorization: Token <API_KEY>` Example: `Authorization:
     *        Token 12345abcdef`
     *
     * @return ApiResponse Response from the API call
     */
    public function get(string $projectId, string $modelId, string $authorization): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/projects/{project_id}/models/{model_id}')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                TemplateParam::init('model_id', $modelId)->required(),
                HeaderParam::init('Authorization', $authorization)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->typeGroup('oneOf(GetModelV1Response0,GetModelV1Response1)')
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
