<?php

declare(strict_types=1);

/*
 * RestApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace RestApiLib\Apis;

use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use RestApiLib\Http\ApiResponse;
use RestApiLib\Models\DeleteProjectMemberV1Response;
use RestApiLib\Models\ListProjectMembersV1Response;

class ManageV1ProjectsMembersApi extends BaseApi
{
    /**
     * Retrieves a list of members for a given project
     *
     * @param string $projectId The unique identifier of the project
     * @param string $authorization Use `Authorization: Token <API_KEY>` Example: `Authorization:
     *        Token 12345abcdef`
     *
     * @return ApiResponse Response from the API call
     */
    public function mList(string $projectId, string $authorization): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/projects/{project_id}/members')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                HeaderParam::init('Authorization', $authorization)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(ListProjectMembersV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Removes a member from the project using their unique member ID
     *
     * @param string $projectId The unique identifier of the project
     * @param string $memberId The unique identifier of the Member
     * @param string $authorization Use `Authorization: Token <API_KEY>` Example: `Authorization:
     *        Token 12345abcdef`
     *
     * @return ApiResponse Response from the API call
     */
    public function delete(string $projectId, string $memberId, string $authorization): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/v1/projects/{project_id}/members/{member_id}'
        )
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                TemplateParam::init('member_id', $memberId)->required(),
                HeaderParam::init('Authorization', $authorization)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(DeleteProjectMemberV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
