<?php

declare(strict_types=1);

/*
 * Deepgram
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DeepgramLib\Apis;

use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DeepgramLib\Http\ApiResponse;
use DeepgramLib\Models\GetProjectBalanceV1Response;
use DeepgramLib\Models\ListProjectBalancesV1Response;

class ManageV1ProjectsBillingBalancesApi extends BaseApi
{
    /**
     * Generates a list of outstanding balances for the specified project
     *
     * @param string $projectId The unique identifier of the project
     *
     * @return ApiResponse Response from the API call
     */
    public function mList(string $projectId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/projects/{project_id}/balances')
            ->auth('ApiKeyAuth')
            ->parameters(TemplateParam::init('project_id', $projectId)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(ListProjectBalancesV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves details about the specified balance
     *
     * @param string $projectId The unique identifier of the project
     * @param string $balanceId The unique identifier of the balance
     *
     * @return ApiResponse Response from the API call
     */
    public function get(string $projectId, string $balanceId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/projects/{project_id}/balances/{balance_id}')
            ->auth('ApiKeyAuth')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                TemplateParam::init('balance_id', $balanceId)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(GetProjectBalanceV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
