<?php

declare(strict_types=1);

/*
 * RestApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace RestApiLib\Apis;

use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use RestApiLib\Http\ApiResponse;
use RestApiLib\Models\UsageFieldsV1Response;
use RestApiLib\Utils\DateTimeHelper;

class ManageV1ProjectsUsageFieldsApi extends BaseApi
{
    /**
     * Lists the features, models, tags, languages, and processing method used for requests in the
     * specified project
     *
     * @param string $projectId The unique identifier of the project
     * @param string $authorization Use `Authorization: Token <API_KEY>` Example: `Authorization:
     *        Token 12345abcdef`
     * @param \DateTime|null $start Start date of the requested date range. Format accepted is
     *        YYYY-MM-DD
     * @param \DateTime|null $end End date of the requested date range. Format accepted is
     *        YYYY-MM-DD
     *
     * @return ApiResponse Response from the API call
     */
    public function mList(
        string $projectId,
        string $authorization,
        ?\DateTime $start = null,
        ?\DateTime $end = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/projects/{project_id}/usage/fields')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                HeaderParam::init('Authorization', $authorization)->required(),
                QueryParam::init('start', $start)->serializeBy([DateTimeHelper::class, 'toSimpleDate']),
                QueryParam::init('end', $end)->serializeBy([DateTimeHelper::class, 'toSimpleDate'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(UsageFieldsV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
