<?php

declare(strict_types=1);

/*
 * Deepgram
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DeepgramLib\Apis;

use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DeepgramLib\Http\ApiResponse;
use DeepgramLib\Models\ListProjectPurchasesV1Response;

class ManageV1ProjectsBillingPurchasesApi extends BaseApi
{
    /**
     * Returns the original purchased amount on an order transaction
     *
     * @param string $projectId The unique identifier of the project
     * @param float|null $limit Number of results to return per page. Default 10. Range [1,1000]
     *
     * @return ApiResponse Response from the API call
     */
    public function mList(string $projectId, ?float $limit = 10): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/projects/{project_id}/purchases')
            ->auth('ApiKeyAuth')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                QueryParam::init('limit', $limit)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(ListProjectPurchasesV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
