<?php

declare(strict_types=1);

/*
 * RestApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace RestApiLib\Apis;

use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use RestApiLib\Http\ApiResponse;
use RestApiLib\Models\UsageV1Response;
use RestApiLib\Models\V1ProjectsProjectIdUsageGetParametersDeployment;
use RestApiLib\Models\V1ProjectsProjectIdUsageGetParametersEndpoint;
use RestApiLib\Models\V1ProjectsProjectIdUsageGetParametersMethod;
use RestApiLib\Utils\DateTimeHelper;

class ManageV1ProjectsUsageApi extends BaseApi
{
    /**
     * Retrieves the usage for a specific project. Use Get Project Usage Breakdown for a more comprehensive
     * usage summary.
     *
     * @param string $projectId The unique identifier of the project
     * @param string $authorization Use `Authorization: Token <API_KEY>` Example: `Authorization:
     *        Token 12345abcdef`
     * @param \DateTime|null $start Start date of the requested date range. Format accepted is
     *        YYYY-MM-DD
     * @param \DateTime|null $end End date of the requested date range. Format accepted is
     *        YYYY-MM-DD
     * @param string|null $accessor Filter for requests where a specific accessor was used
     * @param bool|null $alternatives Filter for requests where alternatives were used
     * @param bool|null $callbackMethod Filter for requests where callback method was used
     * @param bool|null $callback Filter for requests where callback was used
     * @param bool|null $channels Filter for requests where channels were used
     * @param bool|null $customIntentMode Filter for requests where custom intent mode was used
     * @param bool|null $customIntent Filter for requests where custom intent was used
     * @param bool|null $customTopicMode Filter for requests where custom topic mode was used
     * @param bool|null $customTopic Filter for requests where custom topic was used
     * @param string|null $deployment Filter for requests where a specific deployment was used
     * @param bool|null $detectEntities Filter for requests where detect entities was used
     * @param bool|null $detectLanguage Filter for requests where detect language was used
     * @param bool|null $diarize Filter for requests where diarize was used
     * @param bool|null $dictation Filter for requests where dictation was used
     * @param bool|null $encoding Filter for requests where encoding was used
     * @param string|null $endpoint Filter for requests where a specific endpoint was used
     * @param bool|null $extra Filter for requests where extra was used
     * @param bool|null $fillerWords Filter for requests where filler words was used
     * @param bool|null $intents Filter for requests where intents was used
     * @param bool|null $keyterm Filter for requests where keyterm was used
     * @param bool|null $keywords Filter for requests where keywords was used
     * @param bool|null $language Filter for requests where language was used
     * @param bool|null $measurements Filter for requests where measurements were used
     * @param string|null $method Filter for requests where a specific method was used
     * @param string|null $model Filter for requests where a specific model uuid was used
     * @param bool|null $multichannel Filter for requests where multichannel was used
     * @param bool|null $numerals Filter for requests where numerals were used
     * @param bool|null $paragraphs Filter for requests where paragraphs were used
     * @param bool|null $profanityFilter Filter for requests where profanity filter was used
     * @param bool|null $punctuate Filter for requests where punctuate was used
     * @param bool|null $redact Filter for requests where redact was used
     * @param bool|null $replace Filter for requests where replace was used
     * @param bool|null $sampleRate Filter for requests where sample rate was used
     * @param bool|null $search Filter for requests where search was used
     * @param bool|null $sentiment Filter for requests where sentiment was used
     * @param bool|null $smartFormat Filter for requests where smart format was used
     * @param bool|null $summarize Filter for requests where summarize was used
     * @param string|null $tag Filter for requests where a specific tag was used
     * @param bool|null $topics Filter for requests where topics was used
     * @param bool|null $uttSplit Filter for requests where utt split was used
     * @param bool|null $utterances Filter for requests where utterances was used
     * @param bool|null $version Filter for requests where version was used
     *
     * @return ApiResponse Response from the API call
     */
    public function get(
        string $projectId,
        string $authorization,
        ?\DateTime $start = null,
        ?\DateTime $end = null,
        ?string $accessor = null,
        ?bool $alternatives = null,
        ?bool $callbackMethod = null,
        ?bool $callback = null,
        ?bool $channels = null,
        ?bool $customIntentMode = null,
        ?bool $customIntent = null,
        ?bool $customTopicMode = null,
        ?bool $customTopic = null,
        ?string $deployment = null,
        ?bool $detectEntities = null,
        ?bool $detectLanguage = null,
        ?bool $diarize = null,
        ?bool $dictation = null,
        ?bool $encoding = null,
        ?string $endpoint = null,
        ?bool $extra = null,
        ?bool $fillerWords = null,
        ?bool $intents = null,
        ?bool $keyterm = null,
        ?bool $keywords = null,
        ?bool $language = null,
        ?bool $measurements = null,
        ?string $method = null,
        ?string $model = null,
        ?bool $multichannel = null,
        ?bool $numerals = null,
        ?bool $paragraphs = null,
        ?bool $profanityFilter = null,
        ?bool $punctuate = null,
        ?bool $redact = null,
        ?bool $replace = null,
        ?bool $sampleRate = null,
        ?bool $search = null,
        ?bool $sentiment = null,
        ?bool $smartFormat = null,
        ?bool $summarize = null,
        ?string $tag = null,
        ?bool $topics = null,
        ?bool $uttSplit = null,
        ?bool $utterances = null,
        ?bool $version = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/projects/{project_id}/usage')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                HeaderParam::init('Authorization', $authorization)->required(),
                QueryParam::init('start', $start)->serializeBy([DateTimeHelper::class, 'toSimpleDate']),
                QueryParam::init('end', $end)->serializeBy([DateTimeHelper::class, 'toSimpleDate']),
                QueryParam::init('accessor', $accessor),
                QueryParam::init('alternatives', $alternatives),
                QueryParam::init('callback_method', $callbackMethod),
                QueryParam::init('callback', $callback),
                QueryParam::init('channels', $channels),
                QueryParam::init('custom_intent_mode', $customIntentMode),
                QueryParam::init('custom_intent', $customIntent),
                QueryParam::init('custom_topic_mode', $customTopicMode),
                QueryParam::init('custom_topic', $customTopic),
                QueryParam::init('deployment', $deployment)
                    ->serializeBy([V1ProjectsProjectIdUsageGetParametersDeployment::class, 'checkValue']),
                QueryParam::init('detect_entities', $detectEntities),
                QueryParam::init('detect_language', $detectLanguage),
                QueryParam::init('diarize', $diarize),
                QueryParam::init('dictation', $dictation),
                QueryParam::init('encoding', $encoding),
                QueryParam::init('endpoint', $endpoint)
                    ->serializeBy([V1ProjectsProjectIdUsageGetParametersEndpoint::class, 'checkValue']),
                QueryParam::init('extra', $extra),
                QueryParam::init('filler_words', $fillerWords),
                QueryParam::init('intents', $intents),
                QueryParam::init('keyterm', $keyterm),
                QueryParam::init('keywords', $keywords),
                QueryParam::init('language', $language),
                QueryParam::init('measurements', $measurements),
                QueryParam::init('method', $method)
                    ->serializeBy([V1ProjectsProjectIdUsageGetParametersMethod::class, 'checkValue']),
                QueryParam::init('model', $model),
                QueryParam::init('multichannel', $multichannel),
                QueryParam::init('numerals', $numerals),
                QueryParam::init('paragraphs', $paragraphs),
                QueryParam::init('profanity_filter', $profanityFilter),
                QueryParam::init('punctuate', $punctuate),
                QueryParam::init('redact', $redact),
                QueryParam::init('replace', $replace),
                QueryParam::init('sample_rate', $sampleRate),
                QueryParam::init('search', $search),
                QueryParam::init('sentiment', $sentiment),
                QueryParam::init('smart_format', $smartFormat),
                QueryParam::init('summarize', $summarize),
                QueryParam::init('tag', $tag),
                QueryParam::init('topics', $topics),
                QueryParam::init('utt_split', $uttSplit),
                QueryParam::init('utterances', $utterances),
                QueryParam::init('version', $version)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(UsageV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
