<?php

declare(strict_types=1);

/*
 * Deepgram
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DeepgramLib\Apis;

use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DeepgramLib\Http\ApiResponse;
use DeepgramLib\Models\ListModelsV1Response;

class ManageV1ModelsApi extends BaseApi
{
    /**
     * Returns metadata on all the latest public models. To retrieve custom models, use Get Project Models.
     *
     * @param bool|null $includeOutdated returns non-latest versions of models
     *
     * @return ApiResponse Response from the API call
     */
    public function mList(?bool $includeOutdated = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/models')
            ->auth('ApiKeyAuth')
            ->parameters(QueryParam::init('include_outdated', $includeOutdated));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(ListModelsV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns metadata for a specific public model
     *
     * @param string $modelId The specific UUID of the model
     *
     * @return ApiResponse Response from the API call
     */
    public function get(string $modelId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/models/{model_id}')
            ->auth('ApiKeyAuth')
            ->parameters(TemplateParam::init('model_id', $modelId)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->typeGroup('oneOf(GetModelV1Response0,GetModelV1Response1)')
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
