<?php

declare(strict_types=1);

/*
 * Deepgram
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DeepgramLib\Apis;

use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DeepgramLib\Http\ApiResponse;
use DeepgramLib\Models\GetProjectRequestV1Response;
use DeepgramLib\Models\ListProjectRequestsV1Response;
use DeepgramLib\Models\V1ProjectsProjectIdRequestsGetParametersDeployment;
use DeepgramLib\Models\V1ProjectsProjectIdRequestsGetParametersEndpoint;
use DeepgramLib\Models\V1ProjectsProjectIdRequestsGetParametersMethod;
use DeepgramLib\Models\V1ProjectsProjectIdRequestsGetParametersStatus;
use DeepgramLib\Utils\DateTimeHelper;

class ManageV1ProjectsRequestsApi extends BaseApi
{
    /**
     * Generates a list of requests for a specific project
     *
     * @param string $projectId The unique identifier of the project
     * @param \DateTime|null $start Start date of the requested date range. Formats accepted are
     *        YYYY-MM-DD, YYYY-MM-DDTHH:MM:SS, or YYYY-MM-DDTHH:MM:SS+HH:MM
     * @param \DateTime|null $end End date of the requested date range. Formats accepted are
     *        YYYY-MM-DD, YYYY-MM-DDTHH:MM:SS, or YYYY-MM-DDTHH:MM:SS+HH:MM
     * @param float|null $limit Number of results to return per page. Default 10. Range [1,1000]
     * @param float|null $page Navigate and return the results to retrieve specific portions of
     *        information of the response
     * @param string|null $accessor Filter for requests where a specific accessor was used
     * @param string|null $requestId Filter for a specific request id
     * @param string|null $deployment Filter for requests where a specific deployment was used
     * @param string|null $endpoint Filter for requests where a specific endpoint was used
     * @param string|null $method Filter for requests where a specific method was used
     * @param string|null $status Filter for requests that succeeded (status code < 300) or failed
     *        (status code >=400)
     *
     * @return ApiResponse Response from the API call
     */
    public function mList(
        string $projectId,
        ?\DateTime $start = null,
        ?\DateTime $end = null,
        ?float $limit = 10,
        ?float $page = null,
        ?string $accessor = null,
        ?string $requestId = null,
        ?string $deployment = null,
        ?string $endpoint = null,
        ?string $method = null,
        ?string $status = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/projects/{project_id}/requests')
            ->auth('ApiKeyAuth')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                QueryParam::init('start', $start)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('end', $end)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('limit', $limit),
                QueryParam::init('page', $page),
                QueryParam::init('accessor', $accessor),
                QueryParam::init('request_id', $requestId),
                QueryParam::init('deployment', $deployment)
                    ->serializeBy([V1ProjectsProjectIdRequestsGetParametersDeployment::class, 'checkValue']),
                QueryParam::init('endpoint', $endpoint)
                    ->serializeBy([V1ProjectsProjectIdRequestsGetParametersEndpoint::class, 'checkValue']),
                QueryParam::init('method', $method)
                    ->serializeBy([V1ProjectsProjectIdRequestsGetParametersMethod::class, 'checkValue']),
                QueryParam::init('status', $status)
                    ->serializeBy([V1ProjectsProjectIdRequestsGetParametersStatus::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(ListProjectRequestsV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves a specific request for a specific project
     *
     * @param string $projectId The unique identifier of the project
     * @param string $requestId The unique identifier of the request
     *
     * @return ApiResponse Response from the API call
     */
    public function get(string $projectId, string $requestId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/projects/{project_id}/requests/{request_id}')
            ->auth('ApiKeyAuth')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                TemplateParam::init('request_id', $requestId)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(GetProjectRequestV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
