<?php

declare(strict_types=1);

/*
 * RestApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace RestApiLib\Apis;

use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use RestApiLib\Http\ApiResponse;
use RestApiLib\Models\BillingBreakdownV1Response;
use RestApiLib\Models\V1ProjectsProjectIdBillingBreakdownGetParametersDeployment;
use RestApiLib\Models\V1ProjectsProjectIdBillingBreakdownGetParametersGroupingSchemaItems;
use RestApiLib\Utils\DateTimeHelper;

class ManageV1ProjectsBillingBreakdownApi extends BaseApi
{
    /**
     * Retrieves the billing summary for a specific project, with various filter options or by grouping
     * options.
     *
     * @param string $projectId The unique identifier of the project
     * @param string $authorization Use `Authorization: Token <API_KEY>` Example: `Authorization:
     *        Token 12345abcdef`
     * @param \DateTime|null $start Start date of the requested date range. Format accepted is
     *        YYYY-MM-DD
     * @param \DateTime|null $end End date of the requested date range. Format accepted is
     *        YYYY-MM-DD
     * @param string|null $accessor Filter for requests where a specific accessor was used
     * @param string|null $deployment Filter for requests where a specific deployment was used
     * @param string|null $tag Filter for requests where a specific tag was used
     * @param string|null $lineItem Filter requests by line item (e.g. streaming::nova-3)
     * @param string[]|null $grouping Group billing breakdown by one or more dimensions (accessor,
     *        deployment, line_item, tags)
     *
     * @return ApiResponse Response from the API call
     */
    public function mList(
        string $projectId,
        string $authorization,
        ?\DateTime $start = null,
        ?\DateTime $end = null,
        ?string $accessor = null,
        ?string $deployment = null,
        ?string $tag = null,
        ?string $lineItem = null,
        ?array $grouping = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/projects/{project_id}/billing/breakdown')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                HeaderParam::init('Authorization', $authorization)->required(),
                QueryParam::init('start', $start)->serializeBy([DateTimeHelper::class, 'toSimpleDate']),
                QueryParam::init('end', $end)->serializeBy([DateTimeHelper::class, 'toSimpleDate']),
                QueryParam::init('accessor', $accessor),
                QueryParam::init('deployment', $deployment)
                    ->serializeBy(
                        [V1ProjectsProjectIdBillingBreakdownGetParametersDeployment::class, 'checkValue']
                    ),
                QueryParam::init('tag', $tag),
                QueryParam::init('line_item', $lineItem),
                QueryParam::init('grouping', $grouping)
                    ->serializeBy(
                        [V1ProjectsProjectIdBillingBreakdownGetParametersGroupingSchemaItems::class, 'checkValue']
                    )
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(BillingBreakdownV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
