<?php

declare(strict_types=1);

/*
 * RestApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace RestApiLib\Apis;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use RestApiLib\Http\ApiResponse;
use RestApiLib\Models\ListProjectMemberScopesV1Response;
use RestApiLib\Models\UpdateProjectMemberScopesV1Request;
use RestApiLib\Models\UpdateProjectMemberScopesV1Response;

class ManageV1ProjectsMembersScopesApi extends BaseApi
{
    /**
     * Retrieves a list of scopes for a specific member
     *
     * @param string $projectId The unique identifier of the project
     * @param string $memberId The unique identifier of the Member
     * @param string $authorization Use `Authorization: Token <API_KEY>` Example: `Authorization:
     *        Token 12345abcdef`
     *
     * @return ApiResponse Response from the API call
     */
    public function mList(string $projectId, string $memberId, string $authorization): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/projects/{project_id}/members/{member_id}/scopes'
        )
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                TemplateParam::init('member_id', $memberId)->required(),
                HeaderParam::init('Authorization', $authorization)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(ListProjectMemberScopesV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates the scopes for a specific member
     *
     * @param string $projectId The unique identifier of the project
     * @param string $memberId The unique identifier of the Member
     * @param string $authorization Use `Authorization: Token <API_KEY>` Example: `Authorization:
     *        Token 12345abcdef`
     * @param UpdateProjectMemberScopesV1Request|null $body A scope to update
     *
     * @return ApiResponse Response from the API call
     */
    public function update(
        string $projectId,
        string $memberId,
        string $authorization,
        ?UpdateProjectMemberScopesV1Request $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::PUT,
            '/v1/projects/{project_id}/members/{member_id}/scopes'
        )
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                TemplateParam::init('member_id', $memberId)->required(),
                HeaderParam::init('Authorization', $authorization)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(UpdateProjectMemberScopesV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
