<?php

declare(strict_types=1);

/*
 * Deepgram
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DeepgramLib\Apis;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DeepgramLib\Http\ApiResponse;
use DeepgramLib\Models\DeleteProjectV1Response;
use DeepgramLib\Models\GetProjectV1Response;
use DeepgramLib\Models\LeaveProjectV1Response;
use DeepgramLib\Models\ListProjectsV1Response;
use DeepgramLib\Models\UpdateProjectV1Request;
use DeepgramLib\Models\UpdateProjectV1Response;

class ManageV1ProjectsApi extends BaseApi
{
    /**
     * Retrieves basic information about the projects associated with the API key
     *
     * @return ApiResponse Response from the API call
     */
    public function mList(): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/projects')->auth('ApiKeyAuth');

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(ListProjectsV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves information about the specified project
     *
     * @param string $projectId The unique identifier of the project
     * @param float|null $limit Number of results to return per page. Default 10. Range [1,1000]
     * @param float|null $page Navigate and return the results to retrieve specific portions of
     *        information of the response
     *
     * @return ApiResponse Response from the API call
     */
    public function get(string $projectId, ?float $limit = 10, ?float $page = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/projects/{project_id}')
            ->auth('ApiKeyAuth')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                QueryParam::init('limit', $limit),
                QueryParam::init('page', $page)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(GetProjectV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates the name or other properties of an existing project
     *
     * @param string $projectId The unique identifier of the project
     * @param UpdateProjectV1Request|null $body The name of the project
     *
     * @return ApiResponse Response from the API call
     */
    public function update(string $projectId, ?UpdateProjectV1Request $body = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/v1/projects/{project_id}')
            ->auth('ApiKeyAuth')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(UpdateProjectV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Deletes the specified project
     *
     * @param string $projectId The unique identifier of the project
     *
     * @return ApiResponse Response from the API call
     */
    public function delete(string $projectId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/projects/{project_id}')
            ->auth('ApiKeyAuth')
            ->parameters(TemplateParam::init('project_id', $projectId)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(DeleteProjectV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Removes the authenticated account from the specific project
     *
     * @param string $projectId The unique identifier of the project
     *
     * @return ApiResponse Response from the API call
     */
    public function leave(string $projectId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/projects/{project_id}/leave')
            ->auth('ApiKeyAuth')
            ->parameters(TemplateParam::init('project_id', $projectId)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(LeaveProjectV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
