<?php

declare(strict_types=1);

/*
 * Deepgram
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DeepgramLib\Apis;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DeepgramLib\Http\ApiResponse;
use DeepgramLib\Models\CreateProjectInviteV1Request;
use DeepgramLib\Models\CreateProjectInviteV1Response;
use DeepgramLib\Models\DeleteProjectInviteV1Response;
use DeepgramLib\Models\ListProjectInvitesV1Response;

class ManageV1ProjectsMembersInvitesApi extends BaseApi
{
    /**
     * Generates a list of invites for a specific project
     *
     * @param string $projectId The unique identifier of the project
     *
     * @return ApiResponse Response from the API call
     */
    public function mList(string $projectId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/projects/{project_id}/invites')
            ->auth('ApiKeyAuth')
            ->parameters(TemplateParam::init('project_id', $projectId)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(ListProjectInvitesV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Generates an invite for a specific project
     *
     * @param string $projectId The unique identifier of the project
     * @param CreateProjectInviteV1Request|null $body email to invite to the project
     *
     * @return ApiResponse Response from the API call
     */
    public function create(string $projectId, ?CreateProjectInviteV1Request $body = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/projects/{project_id}/invites')
            ->auth('ApiKeyAuth')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(CreateProjectInviteV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Deletes an invite for a specific project
     *
     * @param string $projectId The unique identifier of the project
     * @param string $email The email address of the member
     *
     * @return ApiResponse Response from the API call
     */
    public function delete(string $projectId, string $email): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/projects/{project_id}/invites/{email}')
            ->auth('ApiKeyAuth')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                TemplateParam::init('email', $email)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(DeleteProjectInviteV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
