<?php

declare(strict_types=1);

/*
 * RestApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace RestApiLib\Apis;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use RestApiLib\Http\ApiResponse;
use RestApiLib\Models\CreateProjectInviteV1Request;
use RestApiLib\Models\CreateProjectInviteV1Response;
use RestApiLib\Models\DeleteProjectInviteV1Response;
use RestApiLib\Models\ListProjectInvitesV1Response;

class ManageV1ProjectsMembersInvitesApi extends BaseApi
{
    /**
     * Generates a list of invites for a specific project
     *
     * @param string $projectId The unique identifier of the project
     * @param string $authorization Use `Authorization: Token <API_KEY>` Example: `Authorization:
     *        Token 12345abcdef`
     *
     * @return ApiResponse Response from the API call
     */
    public function mList(string $projectId, string $authorization): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/projects/{project_id}/invites')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                HeaderParam::init('Authorization', $authorization)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(ListProjectInvitesV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Generates an invite for a specific project
     *
     * @param string $projectId The unique identifier of the project
     * @param string $authorization Use `Authorization: Token <API_KEY>` Example: `Authorization:
     *        Token 12345abcdef`
     * @param CreateProjectInviteV1Request|null $body email to invite to the project
     *
     * @return ApiResponse Response from the API call
     */
    public function create(
        string $projectId,
        string $authorization,
        ?CreateProjectInviteV1Request $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/projects/{project_id}/invites')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                HeaderParam::init('Authorization', $authorization)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(CreateProjectInviteV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Deletes an invite for a specific project
     *
     * @param string $projectId The unique identifier of the project
     * @param string $email The email address of the member
     * @param string $authorization Use `Authorization: Token <API_KEY>` Example: `Authorization:
     *        Token 12345abcdef`
     *
     * @return ApiResponse Response from the API call
     */
    public function delete(string $projectId, string $email, string $authorization): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/projects/{project_id}/invites/{email}')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                TemplateParam::init('email', $email)->required(),
                HeaderParam::init('Authorization', $authorization)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(DeleteProjectInviteV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
