<?php

declare(strict_types=1);

/*
 * Deepgram
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DeepgramLib\Apis;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DeepgramLib\Http\ApiResponse;
use DeepgramLib\Models\ReadV1RequestText;
use DeepgramLib\Models\ReadV1RequestUrl;
use DeepgramLib\Models\ReadV1Response;
use DeepgramLib\Models\V1ListenPostParametersCallbackMethod;
use DeepgramLib\Models\V1ListenPostParametersCustomTopicMode;

class ReadV1TextApi extends BaseApi
{
    /**
     * Analyze text content using Deepgrams text analysis API
     *
     * @param string|null $callback URL to which we'll make the callback request
     * @param string|null $callbackMethod HTTP method by which the callback request will be made
     * @param bool|null $sentiment Recognizes the sentiment throughout a transcript or text
     * @param string|bool|null $summarize Summarize content. For Listen API, supports string version
     *        option. For Read API, accepts boolean only.
     * @param string|string[]|null $tag Label your requests for the purpose of identification during
     *        usage reporting
     * @param bool|null $topics Detect topics throughout a transcript or text
     * @param string|string[]|null $customTopic Custom topics you want the model to detect within
     *        your input audio or text if present Submit up to `100`.
     * @param string|null $customTopicMode Sets how the model will interpret strings submitted to
     *        the `custom_topic` param. When `strict`, the model will only return topics submitted
     *        using the `custom_topic` param. When `extended`, the model will return its own
     *        detected topics in addition to those submitted using the `custom_topic` param
     * @param bool|null $intents Recognizes speaker intent throughout a transcript or text
     * @param string|string[]|null $customIntent Custom intents you want the model to detect within
     *        your input audio if present
     * @param string|null $customIntentMode Sets how the model will interpret intents submitted to
     *        the `custom_intent` param. When `strict`, the model will only return intents
     *        submitted using the `custom_intent` param. When `extended`, the model will return
     *        its own detected intents in the `custom_intent` param.
     * @param string|null $language The [BCP-47 language tag](https://tools.ietf.org/html/bcp47)
     *        that hints at the primary spoken language. Depending on the Model and API endpoint
     *        you choose only certain languages are available
     * @param ReadV1RequestUrl|ReadV1RequestText|null $body Analyze a text file
     *
     * @return ApiResponse Response from the API call
     */
    public function analyze(
        ?string $callback = null,
        ?string $callbackMethod = V1ListenPostParametersCallbackMethod::POST,
        ?bool $sentiment = false,
        $summarize = null,
        $tag = null,
        ?bool $topics = false,
        $customTopic = null,
        ?string $customTopicMode = V1ListenPostParametersCustomTopicMode::EXTENDED,
        ?bool $intents = false,
        $customIntent = null,
        ?string $customIntentMode = V1ListenPostParametersCustomTopicMode::EXTENDED,
        ?string $language = 'en',
        $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/read')
            ->auth('ApiKeyAuth')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                QueryParam::init('callback', $callback),
                QueryParam::init('callback_method', $callbackMethod)
                    ->serializeBy([V1ListenPostParametersCallbackMethod::class, 'checkValue']),
                QueryParam::init('sentiment', $sentiment),
                QueryParam::init('summarize', $summarize)
                    ->strictType(
                        'anyOf(oneOf(V1ReadPostParametersSummarize0,bool),null)',
                        [
                            '\\DeepgramLib\\Models\\V1ReadPostParametersSummarize0::checkValue ' .
                            'V1ReadPostParametersSummarize0'
                        ]
                    ),
                QueryParam::init('tag', $tag)->strictType('anyOf(oneOf(string,string[]),null)'),
                QueryParam::init('topics', $topics),
                QueryParam::init('custom_topic', $customTopic)->strictType('anyOf(oneOf(string,string[]),null)'),
                QueryParam::init('custom_topic_mode', $customTopicMode)
                    ->serializeBy([V1ListenPostParametersCustomTopicMode::class, 'checkValue']),
                QueryParam::init('intents', $intents),
                QueryParam::init('custom_intent', $customIntent)->strictType('anyOf(oneOf(string,string[]),null)'),
                QueryParam::init('custom_intent_mode', $customIntentMode)
                    ->serializeBy([V1ListenPostParametersCustomTopicMode::class, 'checkValue']),
                QueryParam::init('language', $language),
                BodyParam::init($body)->strictType('anyOf(oneOf(ReadV1RequestUrl,ReadV1RequestText),null)')
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(ReadV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
