<?php

declare(strict_types=1);

/*
 * Deepgram
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DeepgramLib\Apis;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DeepgramLib\Http\ApiResponse;
use DeepgramLib\Models\CreateProjectDistributionCredentialsV1Request;
use DeepgramLib\Models\CreateProjectDistributionCredentialsV1Response;
use DeepgramLib\Models\GetProjectDistributionCredentialsV1Response;
use DeepgramLib\Models\ListProjectDistributionCredentialsV1Response;
use DeepgramLib\Models\V1ProjectsProjectIdSelfHostedDistributionCredentialsPostParametersProvider;
use DeepgramLib\Models\V1ProjectsProjectIdSelfHostedDistributionCredentialsPostParametersScopesSchemaItems;

class SelfHostedV1DistributionCredentialsApi extends BaseApi
{
    /**
     * Lists sets of distribution credentials for the specified project
     *
     * @param string $projectId The unique identifier of the project
     *
     * @return ApiResponse Response from the API call
     */
    public function mList(string $projectId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/projects/{project_id}/self-hosted/distribution/credentials'
        )->auth('ApiKeyAuth')->parameters(TemplateParam::init('project_id', $projectId)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(ListProjectDistributionCredentialsV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates a set of distribution credentials for the specified project
     *
     * @param string $projectId The unique identifier of the project
     * @param string[]|null $scopes List of permission scopes for the credentials
     * @param string|null $provider The provider of the distribution service
     * @param CreateProjectDistributionCredentialsV1Request|null $body The set of distribution
     *        credentials to create
     *
     * @return ApiResponse Response from the API call
     */
    public function create(
        string $projectId,
        ?array $scopes = null,
        ?string $provider = V1ProjectsProjectIdSelfHostedDistributionCredentialsPostParametersProvider::QUAY,
        ?CreateProjectDistributionCredentialsV1Request $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/v1/projects/{project_id}/self-hosted/distribution/credentials'
        )
            ->auth('ApiKeyAuth')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                QueryParam::init('scopes', $scopes)
                    ->serializeBy(
                        [V1ProjectsProjectIdSelfHostedDistributionCredentialsPostParametersScopesSchemaItems::class, 'checkValue']
                    ),
                QueryParam::init('provider', $provider)
                    ->serializeBy(
                        [V1ProjectsProjectIdSelfHostedDistributionCredentialsPostParametersProvider::class, 'checkValue']
                    ),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(CreateProjectDistributionCredentialsV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a set of distribution credentials for the specified project
     *
     * @param string $projectId The unique identifier of the project
     * @param string $distributionCredentialsId The UUID of the distribution credentials
     *
     * @return ApiResponse Response from the API call
     */
    public function get(string $projectId, string $distributionCredentialsId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/projects/{project_id}/self-hosted/distribution/credentials/{distribution_credentials_id}'
        )
            ->auth('ApiKeyAuth')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                TemplateParam::init('distribution_credentials_id', $distributionCredentialsId)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(GetProjectDistributionCredentialsV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Deletes a set of distribution credentials for the specified project
     *
     * @param string $projectId The unique identifier of the project
     * @param string $distributionCredentialsId The UUID of the distribution credentials
     *
     * @return ApiResponse Response from the API call
     */
    public function delete(string $projectId, string $distributionCredentialsId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/v1/projects/{project_id}/self-hosted/distribution/credentials/{distribution_credentials_id}'
        )
            ->auth('ApiKeyAuth')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                TemplateParam::init('distribution_credentials_id', $distributionCredentialsId)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(GetProjectDistributionCredentialsV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
