<?php

declare(strict_types=1);

/*
 * Deepgram
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DeepgramLib\Apis;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DeepgramLib\Http\ApiResponse;
use DeepgramLib\Models\SpeakV1Request;
use DeepgramLib\Models\V1ListenPostParametersCallbackMethod;
use DeepgramLib\Models\V1SpeakPostParametersModel;

class SpeakV1AudioApi extends BaseApi
{
    /**
     * Convert text into natural-sounding speech using Deepgram's TTS REST API
     *
     * @param string|null $callback URL to which we'll make the callback request
     * @param string|null $callbackMethod HTTP method by which the callback request will be made
     * @param bool|null $mipOptOut Opts out requests from the Deepgram Model Improvement Program.
     *        Refer to our Docs for pricing impacts before setting this to true. https://dpgr.
     *        am/deepgram-mip
     * @param string|string[]|null $tag Label your requests for the purpose of identification during
     *        usage reporting
     * @param string|float|null $bitRate The bitrate of the audio in bits per second. Choose from
     *        predefined ranges or specific values based on the encoding type.
     * @param string|null $container Container specifies the file format wrapper for the output
     *        audio. The available options depend on the encoding type.
     * @param string|null $encoding Encoding allows you to specify the expected encoding of your
     *        audio output
     * @param string|null $model AI model used to process submitted text
     * @param string|null $sampleRate Sample Rate specifies the sample rate for the output audio.
     *        Based on the encoding, different sample rates are supported. For some encodings, the
     *        sample rate is not configurable
     * @param float|null $speed Speaking rate multiplier that adjusts the pace of generated speech
     *        while preserving natural prosody and voice quality. Not yet supported in all
     *        languages.
     * @param SpeakV1Request|null $body Transform text to speech
     *
     * @return ApiResponse Response from the API call
     */
    public function generate(
        ?string $callback = null,
        ?string $callbackMethod = V1ListenPostParametersCallbackMethod::POST,
        ?bool $mipOptOut = false,
        $tag = null,
        $bitRate = null,
        ?string $container = null,
        ?string $encoding = null,
        ?string $model = V1SpeakPostParametersModel::AURAASTERIAEN,
        ?string $sampleRate = null,
        ?float $speed = 1,
        ?SpeakV1Request $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/speak')
            ->auth('ApiKeyAuth')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                QueryParam::init('callback', $callback),
                QueryParam::init('callback_method', $callbackMethod)
                    ->serializeBy([V1ListenPostParametersCallbackMethod::class, 'checkValue']),
                QueryParam::init('mip_opt_out', $mipOptOut),
                QueryParam::init('tag', $tag)->strictType('anyOf(oneOf(string,string[]),null)'),
                QueryParam::init('bit_rate', $bitRate)
                    ->strictType(
                        'anyOf(oneOf(V1SpeakPostParametersBitRate0,float),null)',
                        [
                            '\\DeepgramLib\\Models\\V1SpeakPostParametersBitRate0::checkValue V' .
                            '1SpeakPostParametersBitRate0'
                        ]
                    ),
                QueryParam::init('container', $container)
                    ->strictType(
                        'anyOf(oneOf(V1SpeakPostParametersContainer0,V1SpeakPostParametersConta' .
                        'iner1,V1SpeakPostParametersContainer2,V1SpeakPostParametersContainer3,V' .
                        '1SpeakPostParametersContainer4),null)',
                        [
                            '\\DeepgramLib\\Models\\V1SpeakPostParametersContainer0::checkValue' .
                            ' V1SpeakPostParametersContainer0',
                            '\\DeepgramLib\\Models\\V1SpeakPostParametersContainer1::checkValue' .
                            ' V1SpeakPostParametersContainer1',
                            '\\DeepgramLib\\Models\\V1SpeakPostParametersContainer2::checkValue' .
                            ' V1SpeakPostParametersContainer2',
                            '\\DeepgramLib\\Models\\V1SpeakPostParametersContainer3::checkValue' .
                            ' V1SpeakPostParametersContainer3',
                            '\\DeepgramLib\\Models\\V1SpeakPostParametersContainer4::checkValue' .
                            ' V1SpeakPostParametersContainer4'
                        ]
                    ),
                QueryParam::init('encoding', $encoding)
                    ->strictType(
                        'anyOf(oneOf(V1SpeakPostParametersEncoding0,V1SpeakPostParametersEncodi' .
                        'ng1,V1SpeakPostParametersEncoding2,V1SpeakPostParametersEncoding3,V1Spe' .
                        'akPostParametersEncoding4,V1SpeakPostParametersEncoding5,V1SpeakPostPar' .
                        'ametersEncoding6),null)',
                        [
                            '\\DeepgramLib\\Models\\V1SpeakPostParametersEncoding0::checkValue ' .
                            'V1SpeakPostParametersEncoding0',
                            '\\DeepgramLib\\Models\\V1SpeakPostParametersEncoding1::checkValue ' .
                            'V1SpeakPostParametersEncoding1',
                            '\\DeepgramLib\\Models\\V1SpeakPostParametersEncoding2::checkValue ' .
                            'V1SpeakPostParametersEncoding2',
                            '\\DeepgramLib\\Models\\V1SpeakPostParametersEncoding3::checkValue ' .
                            'V1SpeakPostParametersEncoding3',
                            '\\DeepgramLib\\Models\\V1SpeakPostParametersEncoding4::checkValue ' .
                            'V1SpeakPostParametersEncoding4',
                            '\\DeepgramLib\\Models\\V1SpeakPostParametersEncoding5::checkValue ' .
                            'V1SpeakPostParametersEncoding5',
                            '\\DeepgramLib\\Models\\V1SpeakPostParametersEncoding6::checkValue ' .
                            'V1SpeakPostParametersEncoding6'
                        ]
                    ),
                QueryParam::init('model', $model)->serializeBy([V1SpeakPostParametersModel::class, 'checkValue']),
                QueryParam::init('sample_rate', $sampleRate)
                    ->strictType(
                        'anyOf(oneOf(V1SpeakPostParametersSampleRate0,V1SpeakPostParametersSamp' .
                        'leRate1,V1SpeakPostParametersSampleRate2,V1SpeakPostParametersSampleRat' .
                        'e3,V1SpeakPostParametersSampleRate4),null)',
                        [
                            '\\DeepgramLib\\Models\\V1SpeakPostParametersSampleRate0::checkValu' .
                            'e V1SpeakPostParametersSampleRate0',
                            '\\DeepgramLib\\Models\\V1SpeakPostParametersSampleRate1::checkValu' .
                            'e V1SpeakPostParametersSampleRate1',
                            '\\DeepgramLib\\Models\\V1SpeakPostParametersSampleRate2::checkValu' .
                            'e V1SpeakPostParametersSampleRate2',
                            '\\DeepgramLib\\Models\\V1SpeakPostParametersSampleRate3::checkValu' .
                            'e V1SpeakPostParametersSampleRate3',
                            '\\DeepgramLib\\Models\\V1SpeakPostParametersSampleRate4::checkValu' .
                            'e V1SpeakPostParametersSampleRate4'
                        ]
                    ),
                QueryParam::init('speed', $speed),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
