<?php

declare(strict_types=1);

/*
 * RestApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace RestApiLib\Apis;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use RestApiLib\Http\ApiResponse;
use RestApiLib\Models\SpeakV2AcceptedResponse;
use RestApiLib\Models\SpeakV2Request;
use RestApiLib\Models\V1ListenPostParametersCallbackMethod;
use RestApiLib\Models\V2SpeakPostParametersPriority;

class SpeakV2AudioApi extends BaseApi
{
    /**
     * Synthesize a complete block of text into a single audio response using Deepgram's Flux TTS batch
     * (REST) API. Use this for pre-rendering fixed audio (IVR prompts, notifications, narration) where the
     * whole text is known up front and you don't need incremental playback or interruption.
     *
     * @param string $model Flux TTS model used to synthesize the submitted text, in the form
     *        `flux-{voice}-{language}` (for example, `flux-alexis-en`). Required; unlike the v1
     *        (Aura) endpoint there is no default and only flux models are accepted. English-only
     *        at launch.
     * @param string $authorization Use `Authorization: Token <API_KEY>` Example: `Authorization:
     *        Token 12345abcdef`
     * @param string|null $callback URL to which we'll make the callback request
     * @param string|null $callbackMethod HTTP method by which the callback request will be made
     * @param bool|null $mipOptOut Opts out requests from the Deepgram Model Improvement Program.
     *        Refer to our Docs for pricing impacts before setting this to true. https://dpgr.
     *        am/deepgram-mip
     * @param string|string[]|null $tag Label your requests for the purpose of identification during
     *        usage reporting
     * @param string|int|null $bitRate The bitrate of the audio in bits per second. Choose from
     *        predefined ranges or specific values based on the encoding type.
     * @param string|null $container Container specifies the file format wrapper for the output
     *        audio. The available options depend on the encoding type.
     * @param string|null $encoding Encoding allows you to specify the expected encoding of your
     *        audio output
     * @param string|null $sampleRate Sample Rate specifies the sample rate for the output audio.
     *        Based on the encoding, different sample rates are supported. For some encodings, the
     *        sample rate is not configurable
     * @param string|null $priority Processing priority for asynchronous (callback) requests. The
     *        only supported value is low.
     * @param SpeakV2Request|null $body Transform text to speech
     *
     * @return ApiResponse Response from the API call
     */
    public function generate(
        string $model,
        string $authorization,
        ?string $callback = null,
        ?string $callbackMethod = V1ListenPostParametersCallbackMethod::POST,
        ?bool $mipOptOut = false,
        $tag = null,
        $bitRate = null,
        ?string $container = null,
        ?string $encoding = null,
        ?string $sampleRate = null,
        ?string $priority = null,
        ?SpeakV2Request $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/speak')
            ->parameters(
                QueryParam::init('model', $model)->required(),
                HeaderParam::init('Authorization', $authorization)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                QueryParam::init('callback', $callback),
                QueryParam::init('callback_method', $callbackMethod)
                    ->serializeBy([V1ListenPostParametersCallbackMethod::class, 'checkValue']),
                QueryParam::init('mip_opt_out', $mipOptOut),
                QueryParam::init('tag', $tag)->strictType('anyOf(oneOf(string,string[]),null)'),
                QueryParam::init('bit_rate', $bitRate)
                    ->strictType(
                        'anyOf(oneOf(V2SpeakPostParametersBitRate0,int),null)',
                        [
                            '\\RestApiLib\\Models\\V2SpeakPostParametersBitRate0::checkValue V2' .
                            'SpeakPostParametersBitRate0'
                        ]
                    ),
                QueryParam::init('container', $container)
                    ->strictType(
                        'anyOf(oneOf(V2SpeakPostParametersContainer0,V2SpeakPostParametersConta' .
                        'iner1,V2SpeakPostParametersContainer2,V2SpeakPostParametersContainer3,V' .
                        '2SpeakPostParametersContainer4),null)',
                        [
                            '\\RestApiLib\\Models\\V2SpeakPostParametersContainer0::checkValue ' .
                            'V2SpeakPostParametersContainer0',
                            '\\RestApiLib\\Models\\V2SpeakPostParametersContainer1::checkValue ' .
                            'V2SpeakPostParametersContainer1',
                            '\\RestApiLib\\Models\\V2SpeakPostParametersContainer2::checkValue ' .
                            'V2SpeakPostParametersContainer2',
                            '\\RestApiLib\\Models\\V2SpeakPostParametersContainer3::checkValue ' .
                            'V2SpeakPostParametersContainer3',
                            '\\RestApiLib\\Models\\V2SpeakPostParametersContainer4::checkValue ' .
                            'V2SpeakPostParametersContainer4'
                        ]
                    ),
                QueryParam::init('encoding', $encoding)
                    ->strictType(
                        'anyOf(oneOf(V2SpeakPostParametersEncoding0,V2SpeakPostParametersEncodi' .
                        'ng1,V2SpeakPostParametersEncoding2,V2SpeakPostParametersEncoding3,V2Spe' .
                        'akPostParametersEncoding4,V2SpeakPostParametersEncoding5,V2SpeakPostPar' .
                        'ametersEncoding6),null)',
                        [
                            '\\RestApiLib\\Models\\V2SpeakPostParametersEncoding0::checkValue V' .
                            '2SpeakPostParametersEncoding0',
                            '\\RestApiLib\\Models\\V2SpeakPostParametersEncoding1::checkValue V' .
                            '2SpeakPostParametersEncoding1',
                            '\\RestApiLib\\Models\\V2SpeakPostParametersEncoding2::checkValue V' .
                            '2SpeakPostParametersEncoding2',
                            '\\RestApiLib\\Models\\V2SpeakPostParametersEncoding3::checkValue V' .
                            '2SpeakPostParametersEncoding3',
                            '\\RestApiLib\\Models\\V2SpeakPostParametersEncoding4::checkValue V' .
                            '2SpeakPostParametersEncoding4',
                            '\\RestApiLib\\Models\\V2SpeakPostParametersEncoding5::checkValue V' .
                            '2SpeakPostParametersEncoding5',
                            '\\RestApiLib\\Models\\V2SpeakPostParametersEncoding6::checkValue V' .
                            '2SpeakPostParametersEncoding6'
                        ]
                    ),
                QueryParam::init('sample_rate', $sampleRate)
                    ->strictType(
                        'anyOf(oneOf(V2SpeakPostParametersSampleRate0,V2SpeakPostParametersSamp' .
                        'leRate1,V2SpeakPostParametersSampleRate2,V2SpeakPostParametersSampleRat' .
                        'e3),null)',
                        [
                            '\\RestApiLib\\Models\\V2SpeakPostParametersSampleRate0::checkValue' .
                            ' V2SpeakPostParametersSampleRate0',
                            '\\RestApiLib\\Models\\V2SpeakPostParametersSampleRate1::checkValue' .
                            ' V2SpeakPostParametersSampleRate1',
                            '\\RestApiLib\\Models\\V2SpeakPostParametersSampleRate2::checkValue' .
                            ' V2SpeakPostParametersSampleRate2',
                            '\\RestApiLib\\Models\\V2SpeakPostParametersSampleRate3::checkValue' .
                            ' V2SpeakPostParametersSampleRate3'
                        ]
                    ),
                QueryParam::init('priority', $priority)
                    ->serializeBy([V2SpeakPostParametersPriority::class, 'checkValue']),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(SpeakV2AcceptedResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
