<?php

declare(strict_types=1);

/*
 * Deepgram
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace DeepgramLib\Apis;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use DeepgramLib\Http\ApiResponse;
use DeepgramLib\Models\AgentConfigurationV1;
use DeepgramLib\Models\CreateAgentConfigurationV1Request;
use DeepgramLib\Models\CreateAgentConfigurationV1Response;
use DeepgramLib\Models\ListAgentConfigurationsV1Response;
use DeepgramLib\Models\UpdateAgentMetadataV1Request;

class VoiceAgentConfigurationsApi extends BaseApi
{
    /**
     * Creates a new reusable agent configuration. The `config` field must be a valid JSON string
     * representing the `agent` block of a Settings message. The returned `agent_id` can be passed in place
     * of the full `agent` object in future Settings messages.
     *
     * @param string $projectId The unique identifier of the project
     * @param CreateAgentConfigurationV1Request|null $body Agent configuration details
     *
     * @return ApiResponse Response from the API call
     */
    public function create(string $projectId, ?CreateAgentConfigurationV1Request $body = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/projects/{project_id}/agents')
            ->auth('ApiKeyAuth')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(CreateAgentConfigurationV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns all agent configurations for the specified project. Configurations are returned in their
     * uninterpolated form—template variable placeholders appear as-is rather than with their substituted
     * values.
     *
     * @param string $projectId The unique identifier of the project
     *
     * @return ApiResponse Response from the API call
     */
    public function mList(string $projectId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/projects/{project_id}/agents')
            ->auth('ApiKeyAuth')
            ->parameters(TemplateParam::init('project_id', $projectId)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(ListAgentConfigurationsV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the specified agent configuration in its uninterpolated form
     *
     * @param string $projectId The unique identifier of the project
     * @param string $agentId The unique identifier of the agent configuration
     *
     * @return ApiResponse Response from the API call
     */
    public function get(string $projectId, string $agentId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/projects/{project_id}/agents/{agent_id}')
            ->auth('ApiKeyAuth')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                TemplateParam::init('agent_id', $agentId)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(AgentConfigurationV1::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates the metadata associated with an agent configuration. The config itself is immutable—to
     * change the configuration, delete the existing agent and create a new one.
     *
     * @param string $projectId The unique identifier of the project
     * @param string $agentId The unique identifier of the agent configuration
     * @param UpdateAgentMetadataV1Request|null $body Updated metadata for the agent configuration
     *
     * @return ApiResponse Response from the API call
     */
    public function update(string $projectId, string $agentId, ?UpdateAgentMetadataV1Request $body = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/v1/projects/{project_id}/agents/{agent_id}')
            ->auth('ApiKeyAuth')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                TemplateParam::init('agent_id', $agentId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(AgentConfigurationV1::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Deletes the specified agent configuration. Deleting an agent configuration can cause a production
     * outage if your service references this agent UUID. Migrate all active sessions to a new
     * configuration before deleting.
     *
     * @param string $projectId The unique identifier of the project
     * @param string $agentId The unique identifier of the agent configuration
     *
     * @return ApiResponse Response from the API call
     */
    public function delete(string $projectId, string $agentId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/projects/{project_id}/agents/{agent_id}')
            ->auth('ApiKeyAuth')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                TemplateParam::init('agent_id', $agentId)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
