<?php

declare(strict_types=1);

/*
 * RestApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace RestApiLib\Apis;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use RestApiLib\Http\ApiResponse;
use RestApiLib\Models\AgentVariableV1;
use RestApiLib\Models\CreateAgentVariableV1Request;
use RestApiLib\Models\ListAgentVariablesV1Response;
use RestApiLib\Models\UpdateAgentVariableV1Request;

class VoiceAgentVariablesApi extends BaseApi
{
    /**
     * Creates a new template variable. Variables follow the `DG_<VARIABLE_NAME>` naming format and can
     * substitute any JSON value in an agent configuration.
     *
     * @param string $projectId The unique identifier of the project
     * @param string $authorization Use `Authorization: Token <API_KEY>` Example: `Authorization:
     *        Token 12345abcdef`
     * @param CreateAgentVariableV1Request|null $body Agent variable details
     *
     * @return ApiResponse Response from the API call
     */
    public function create(
        string $projectId,
        string $authorization,
        ?CreateAgentVariableV1Request $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/projects/{project_id}/agent-variables')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                HeaderParam::init('Authorization', $authorization)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(AgentVariableV1::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns all template variables for the specified project
     *
     * @param string $projectId The unique identifier of the project
     * @param string $authorization Use `Authorization: Token <API_KEY>` Example: `Authorization:
     *        Token 12345abcdef`
     *
     * @return ApiResponse Response from the API call
     */
    public function mList(string $projectId, string $authorization): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/projects/{project_id}/agent-variables')
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                HeaderParam::init('Authorization', $authorization)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(ListAgentVariablesV1Response::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the specified template variable
     *
     * @param string $projectId The unique identifier of the project
     * @param string $variableId The unique identifier of the agent variable
     * @param string $authorization Use `Authorization: Token <API_KEY>` Example: `Authorization:
     *        Token 12345abcdef`
     *
     * @return ApiResponse Response from the API call
     */
    public function get(string $projectId, string $variableId, string $authorization): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/projects/{project_id}/agent-variables/{variable_id}'
        )
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                TemplateParam::init('variable_id', $variableId)->required(),
                HeaderParam::init('Authorization', $authorization)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(AgentVariableV1::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates the value of an existing template variable
     *
     * @param string $projectId The unique identifier of the project
     * @param string $variableId The unique identifier of the agent variable
     * @param string $authorization Use `Authorization: Token <API_KEY>` Example: `Authorization:
     *        Token 12345abcdef`
     * @param UpdateAgentVariableV1Request|null $body Updated value for the agent variable
     *
     * @return ApiResponse Response from the API call
     */
    public function update(
        string $projectId,
        string $variableId,
        string $authorization,
        ?UpdateAgentVariableV1Request $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::PATCH,
            '/v1/projects/{project_id}/agent-variables/{variable_id}'
        )
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                TemplateParam::init('variable_id', $variableId)->required(),
                HeaderParam::init('Authorization', $authorization)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->type(AgentVariableV1::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Deletes the specified template variable
     *
     * @param string $projectId The unique identifier of the project
     * @param string $variableId The unique identifier of the agent variable
     * @param string $authorization Use `Authorization: Token <API_KEY>` Example: `Authorization:
     *        Token 12345abcdef`
     *
     * @return ApiResponse Response from the API call
     */
    public function delete(string $projectId, string $variableId, string $authorization): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/v1/projects/{project_id}/agent-variables/{variable_id}'
        )
            ->parameters(
                TemplateParam::init('project_id', $projectId)->required(),
                TemplateParam::init('variable_id', $variableId)->required(),
                HeaderParam::init('Authorization', $authorization)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Invalid Request'))
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
